body{
    margin: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: #a9a9a9 ;
}

header, header>ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header{
    background-color: #262626;
    height: 1.3em;
    width: 100%;
    align-items: center;
}

header>ul>li>a{
    color: white;
    text-decoration: none;
}

header>ul>li>a:hover{
    color: rgba(255, 255, 255, 0.637);
}

header>ul>li{
    padding: 1.2em;
    list-style: none;
    font-size: 1em;
    margin-top: 0em;
}

.bgfoto{
    width: 100%;
    height: 55em;
    flex-wrap: wrap;
    background-image: url(Img/Cover-img-3.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.bg-logo{
    position: absolute;
    width: 35em;
    margin-top: 11em;
}

.bgfoto img{
    width: 100%;
    height: 100%;
}

/* .bgfoto p+p{
    margin-top: 7.5em;
    font-size: 3em;
} */

.brands{
    width: 100%;
    height: 30em;
    color: black;
    /* background-color: #262626; */
    /* background-image: url(Img/Brands-img-1.png); */
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brands-title{
    font-size: 2em;
    position: absolute;
    margin-top: -5em;
    color: black;
    /* color: rgba(255, 255, 255, 0.637); */
}

/* .line{
    position: absolute;
    background-color: aliceblue;
    width: 3em;
    height: 0.1em;
    margin-top: 5em;
    display: block;
} */

.brands-text{
    margin-top: -3.5em;
    font-size: 1.2em;
}

.logot{
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0px;
    margin-top: 10em;
    
}

.logo{
    width: 80px;
    height: 60px;
    padding-left: 4.2em;
}

/* Slider */
.slider-main{
    width: 100%;
    height: 30em;
    display: flex;
    align-items: center;
    color: black;
}

.slider-title{
    font-size: 2em;
}

.slider-text{
    width: 30em;
    text-align: center;
    font-size: 1.2em;
}

.slider-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -1.2em;
}

.slider-1, .slider-2{
    width: 50%;
}

.slider-container {
    position: absolute;
    width: 48%;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    height: 25em;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    color: #262626;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.about-us{
    width: 100%;
    height: 40em;
    flex-wrap: wrap;
    background-image: url(Img/abstract-gray-mosaic-polygon-surfaced-background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us-div{
    color: rgba(38, 38, 38, 0.696);
    background-color: #a9a9a9;
    text-align: center;
    width: 45%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-us-title{
    font-size: 2em;
}

.about-us-div p+p{
    width: 80%;
    margin-top: -0.5em;
}

.client{
    width: 100%;
    height: 60em;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    margin-top: 3.2em;
}

.client-bg{
    width: 95%;
    height: 35em;
    flex-wrap: wrap;
    background-image: url(Img/Cover-img-3.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
}

.client-parent{
    width: 95%;
    height: 23em;
    display: flex;
    flex-direction: row;
}

.client-child{
    border-left: 1px solid #262626;
    border-bottom: 1px solid #262626;
    width: 33.3%;
    height: 100%;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.client-child p{
    width: 60%;
    color: #262626;
}

.client-child p+p{
    font-size: 1.3em;
}

.client-parent :nth-child(3){
    border-right: 1px solid #262626;
}

footer{
    background-color: #262626;
    color: white;
    width: 100%;
    height: auto;
}
.footeri{
    padding: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    /* align-items: center; */
}
.lista{
    display: flex;
    flex-direction: column;
    
}
#list-item{
    text-decoration: none;
    color: white;
}
.f-fotot{
    /* padding-top: 40px; */
    display: flex;
    flex-direction: column;

}  
.img-f{
    width: 64px;
    height: 60px;
    margin-left: 5px;
}
.img-1{
    width: 70px;
    height: 48px;
    background-size: cover;
    
}