
body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(208, 208, 208) ;
}
header{
   display: flex;
   flex-direction: row;
    background-color: #262626;
    height: 3em;
    align-items: center;
    justify-content: center;
    
}
header>ul{
    display: flex;
    list-style: none;
    margin-right: 5em;
    
}
header>ul>li{
    margin-left: 1.2em;
    font-size: 1em;
}
header>ul>li>a{
    color: white;
    text-decoration: none;
}
header>ul>li>a:hover{
    color:rgba(255, 255, 255, 0.637);
}
.logot{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left:0;
    margin-top: 3%;
    
}
.logo{
    width: 80px;
    height: 60px;
    margin-left: 4.2em;
}
#hr1{
    background-color: #262626;
    border: 5px  #262626;
    height: 5px;
    margin: 3% 0;
    
}
.fotografit{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.foto-1{
    border: 1px solid  #c2c2c2;
    margin: 10px;
    background-color:  #e2e2e2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    

    
}
.img{
    width: 400px;
    height: 260px;
}
.specifikat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    

}
.te-dhenat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}
.logo-foto{
    width: 60px;
    height: 40px;
}
#hr2{
    height: 1px;
    background-color: #c2c2c2;
    border: 1px #c2c2c2;
    
}
.butonat{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
button{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    background-color:#e2e2e2;
    border-radius: 10%;
}
button:hover{
    color: #c2c2c2;
}
footer{
    background-color: #262626;
    color: white;
    width: 100%;
    height: 400px;
}
.footeri{
    padding: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
}
.lista{
    display: flex;
    flex-direction: column;
    
}
#list-item{
    text-decoration: none;
    color: white;
}
.f-fotot{
    /* padding-top: 40px; */
    display: flex;
    flex-direction: column;

}  
.img-f{
    width: 64px;
    height: 60px;
    margin-left: 5px;
}
.img-1{
    width: 70px;
    height: 48px;
    background-size: cover;
    
}